body{
    background: linear-gradient(90deg,rgba(255, 230, 212, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 230, 212, 1) 100%);
    overflow: scroll;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#titulo{
    margin-top:100px;
    text-align: center;
    display: block;
    margin: auto;
    width: 30%;
    height: 10%;
}

#barra_navegacion{
    margin: auto;
    width:50%;
    height: 100px;
    text-align: center;
    user-select: none;
}
.boton_nav{
    display: inline-block;
    margin: 30px 1% 10px 1%;
    color:rgb(131, 35, 241);
}
.boton_nav_actual{
    display: inline-block;
    margin: 30px 1% 10px 1%;
    color:rgb(186, 66, 11);
    cursor:default;
}
.boton_nav:hover{
    cursor: pointer;
    color: rgb(164, 95, 243);
}

#cuerpo{
    margin: 0px 15% 30px 15%;
    text-align: center;
}
.texto_cuerpo{
    text-align: justify;
    font-size: 16px;
}
.titulo{
    font-size: 24px;
    font-weight: bolder;
}

hr{
    margin: 0px 15% 0px 15%;
    color:orange;
}

.imagen_portfolio{
    width: 25%;
    display: inline-block;
    margin: 5px;
}
.video_portfolio{
    width: 48%;
    display: inline-block;
    margin: 5px;
    aspect-ratio: 16/9;
}
.video_embedido{
    width:90%;
    aspect-ratio: 16/9;
}

#pie{
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.icono_contacto{
    height: 3%;
    width: 3%;
    margin:3px;
}
